body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-image: url('../assets/login1.jpg'); /* Add background image */
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    color: white; /* Ensure text is visible on the image */
}

.login-title {
    font-size: 2rem;
    color: white; /* Update to ensure readability */
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-field {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8); /* Make fields slightly transparent */
    color: #343a40;
}

.input-field:focus {
    outline: none;
    border-color: #007bff;
}

.login-button {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-form a {
    color: #007bff;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}
